{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleQuote": true,
    "vueIndentScriptAndStyle": true,
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-vue"]
  }